body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

header {
  text-align: center;
  /*background-color: ;
  font-family: ;
  color: ; /*for the text*/
  
}

.container {
  display: flex;
  gap: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color:#839b5d;
  color: #fff;
  transition: background-color 0.3s;
  width: 220px; /* Set a fixed width */
  text-align: center;
}

button:hover {
  background-color: #505c3e;
}
